.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0rem;
  background-image: url("https://eyonaa.s3.amazonaws.com/upload/photos/2019/09/YfmNUjilLb3tPPrPTxDU_15_ac7a787777d178ccd8d9ec082237c253_image.jpg");
  background-repeat: repeat;
  background-size: cover;
}
nav {
  background-color: rgba(255, 255, 0, 0.727);
  padding: 0.5rem;
  margin: 1rem;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

footer {
  padding: 0.5rem;
  margin: 0.1rem;
  bottom: 0%;
  border-radius: 10%;
  max-width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

textarea {
  margin: 2rem;
  padding: 1rem 2rem;
  height: 5rem;
  width: 40%;
  min-width: 12rem;
  border-radius: 5%;
}
